<!DOCTYPE html>
<html lang="zh-TW">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint">
        <title>淳手作</title>
        <link rel="stylesheet" href="style.css">    
    </head>
    <body>
        <header>
        <div class="logo-container">
            <img src="/public/image/logo.png" alt="淳手作" class="logo">
            <h1>淳手作</h1>
        </div>
            <nav>
                <ul>
                    <li><a href="/views/index.html">首頁</li>
                    <li><a href="/views/news.html">產品消息</a></li>
                    <li><a href="/views/site.html">門市據點</a></li>
                    <li><a href="/views/about.html">關於我們</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="box">
                <p class="story">
                    在淡水這個充滿歷史和文化的小鎮，有一家名為「淳手作冰店」的古早味冰店。<br><br>故事要從50年前說起，那時的淡水還沒有如今的繁華，卻充滿了人情味。那年的夏天異常炎熱，淳阿公年輕時，因為家境貧寒，從小便跟著父親學做手工冰棒。<br><br>那時候，父親在鎮上開了一家不起眼的小冰店，用最簡單的材料做出最純粹的味道。
                    ，做冰不僅僅是為了賺錢，更是為了給大家帶來清涼和快樂。於是，淳阿公決心將這份手藝傳承下去。他每天清晨早早起床，到市場上挑選最新鮮的水果和材料，用最簡單的方法，卻用心地製作每一支冰棒。淳阿公年紀漸長，他的兒子接手了冰店，依舊堅持用傳統的手法製作冰棒，將這份古早味繼續傳承下去。<br><br>如今回首，冰店已經交到第三代手中，但那份純粹的味道和對品質的堅持，從未改變。
                    每當人們品嚐到淳手作的冰棒，總會想起那段溫暖的夏天，想起那個小小的冰店，想起那段承載著親情和回憶的故事。淳手作，不僅僅是一家店，更是一段溫暖的回憶，將繼續在淡水，帶給人們一份清涼和甜蜜。
                </p>
            </div>
        </main>    
        <footer>
        </footer>
    </body>
</html>