<!DOCTYPE html>
<html lang="zh-TW">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint">
        <title>淳手作</title>
        <link rel="stylesheet" href="style.css">    
    </head>
    <body>
        <header>
        <div class="logo-container">
            <img src="/public/image/logo.png" alt="淳手作" class="logo">
            <h1>淳手作</h1>
        </div>
            <nav>
                <ul>
                    <li><a href="/views/index.html">首頁</li>
                    <li><a href="/views/news.html">產品消息</a></li>
                    <li><a href="/views/site.html">門市據點</a></li>
                    <li><a href="/views/about.html">關於我們</a></li>
                    
                </ul>
            </nav>
        </header>
        <main class="news">
            <h2><blockquote>"嚴選天然食材，純手工"<br>"讓幸福在口中蔓延"</blockquote></h2>
        </main>    
        <footer>
        
        </footer>
    </body>
</html>