<!DOCTYPE html>
<html lang="zh-TW">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>淳手作</title>
        <link rel="stylesheet" href="style.css">    
    </head>
    <body>
        <header>
            <div class="logo-container">
                <img src="/public/image/logo.png" alt="淳手作" class="logo">
                <h1>淳手作</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/views/index.html">首頁</a></li>
                    <li><a href="/views/news.html">產品消息</a></li>
                    <li><a href="/views/site.html">門市據點</a></li>
                    <li><a href="/views/about.html">關於我們</a></li>
                    
                </ul>
            </nav>
        </header>
        <main>
            <section class="site">
                <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.4627969163635!2d121.42876297542061!3d25.187610832088957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442bb006e44cea3%3A0xbcb1785e6639757c!2z5rez5omL5L2c5ZyT5LuU5rmvIOa3oeawtOWPsOWMl-eBo-W6lw!5e0!3m2!1szh-TW!2stw!4v1722266602636!5m2!1szh-TW!2stw" class="location-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/public/image/taibei.jpeg" alt="淡水台北灣店" class="location-img">
                    <h2>淡水台北灣店</h2>
                    <p>地址：新北市淡水區新市一路一段99巷20號</p>
                    <p>營業時間：早上10點-晚上11點</p>
                </div>
                <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14441.848355304146!2d121.42103815444545!3d25.187634725220125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a556812da7cf%3A0xd9bf0f137dfd7593!2z5rez5omL5L2c5ZyT5LuU5rmv!5e0!3m2!1szh-TW!2stw!4v1722266625753!5m2!1szh-TW!2stw" class="location-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/public/image/chun.jpeg" alt="淡水水堆店" class="location-img">
                    <h2>淡水水堆店</h2>
                    <p>地址：新北市淡水區中山北路一段113號</p>
                    <p>營業時間：早上10點-晚上11點</p>
                </div>
                <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.944284091633!2d121.44077688235672!3d25.171359075337563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff800a0ab47%3A0xf130f5fd2713cc9f!2z5re66I2J6IG35Lq65omL5L2c5rmv5ZyT!5e0!3m2!1szh-TW!2stw!4v1722266660719!5m2!1szh-TW!2stw" class="location-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/public/image/english.jpeg" alt="淡水英專店" class="location-img">
                    <h2>淡水英專店</h2>
                    <p>地址：新北市淡水區英專路69號</p>
                    <p>營業時間：早上10點-晚上11點</p>
                </div>
                <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14441.848355304146!2d121.42103815444545!3d25.187634725220125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff7e46be705%3A0x949006589ff85680!2z5rez5omL5L2c57SF6LGG5rmvJua3oeawtOm7keezlueyieWck-muruWltu-8iOa3oeawtOesrOS4ieS7o-WCs-e1seaJi-S9nO-8iQ!5e0!3m2!1szh-TW!2stw!4v1722266641346!5m2!1szh-TW!2stw" class="location-map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <img src="/public/image/lobentan.jpeg" alt="淡水博愛店" class="location-img">
                    <h2>淡水博愛店</h2>
                    <p>地址：新北市淡水區博愛街1號</p>
                    <p>營業時間：下午3點半-晚上10點半</p>
                </div>
            </section>
        </main>    
        <footer>
        </footer>
    </body>
</html>
     